<h3><%= @review.user.user_name %>の<%= @review.post.shop_name %>のレビュー詳細</h3>

<p>星の数</p>
<%= @review.rate %>

<p>レビュータイトル</p>
<%= @review.review_title %>

<p>レビュー本文</p>
<%= @review.shop_review %>

<%= @review.is_released %>
 <%= form_with model: @review, url: admin_post_review_path do |f| %>
 <%= f.radio_button :is_released, :true  %>
 <%= f.label :is_released, "公開" %>
 <%= f.radio_button :is_released, :false  %>
 <%= f.label :is_released, "非公開" %>
 <%= f.submit '変更',class:'btn btn-primary' %>
<% end %>
