<h3><%= @review.user.user_name %>の<%= @review.post.shop_name %>のレビュー詳細</h3>

<p>星の数</p>
<%= @review.rate %>

<p>レビュータイトル</p>
<%= @review.review_title %>

<p>レビュー本文</p>
<%= @review.shop_review %>

 <%= link_to edit_review_path(@review.id) do %>
 <button type="button" class="btn btn-success">編集</button><% end %>
