<div class="row justify-content-center">
  <h3 class="p-3 mb-2 bg-warning text-dark">閲覧数ランキング一覧</h3>
</div>

<div class="row justify-content-center">
  <table class='table-dark table-bordered table-hover' width="90%" height="300">  
    <thead>
      <tr>
        <th>順位</th>
        <th>ユーザー名</th>
        <th>氏名</th>
        <th>PV数</th>
        <th>公開・非公開</th>
      </tr>
    </thead>
    <tbody>
      <% @post_ranks.each.with_index(1) do |post, i| %>
      <tr>
        <td>第<%= i %>位</td>
        <td><%= link_to post.user.user_name, admin_user_path(post.user.id) %></td>
        <td><%= post.user.last_name %><%= post.user.first_name %></td>
        <td><%= post.impressionist_count %></td>
        <td><%= post.user.is_deleted %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>