<h3><%= @user.last_name %><%= @user.first_name %>の投稿情報詳細</h3>

<%= image_tag post.post_image %>

<table>
  <thead>
    <tr>
      <th>店名</th>
      <th>店の説明</th>
      <th>投稿ユーザー名</th>
      <th>公開設定</th>
      <th>公開・非公開設定</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @post.shop_name %></td>
      <td><%= @post.shop_explanation %></td>
      <td><%= @post.user.last_name %><%= @post.user.first_name %></td>
      <td><%= @post.is_deleted %></td>
      <td><%= form_with model: @post, url: admin_post_path do |f| %>
          <%= f.radio_button :is_deleted, :true  %>
          <%= f.label :is_deleted, "公開" ></td>
    </tr>
  </tbody>
</table>