<div class="row justify-content-center">
  <h3 class="p-3 mb-2 bg-warning text-dark"><%= @post.shop_name %>のレビュー投稿</h3>
</div>

<%= form_with model: @review, url: reviews_path do |f| %>

<div class="row justify-content-center">
  <div id="star" class="p-3 mb-2 bg-dark text-white"></div>
  <%#星を表示するための記述%>
</div>

<div class="row justify-content-center">
<p class="p-3 mb-2 bg-warning text-dark">レビュータイトル</p>
</div>

<div class="row justify-content-center">
<%= f.text_field :review_title %>
</div>

<div class="row justify-content-center">
<p class="p-3 mb-2 bg-warning text-dark">レビューコメント</p>
</div>

<div class="row justify-content-center">
<%= f.text_area :shop_review %>
<%= f.hidden_field :post_id, :value => @post.id %>
</div>

<div class="row justify-content-center">
<%= f.submit 'レビュー投稿',class:"btn btn-primary" %>

<% end %>
</div>

  <script>
    var elem = document.getElementById('star')
    var opt = {
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'review[rate]',
      half: true,
    }
    raty(elem, opt);
    //application.jsで記述したものを引数として呼び出している
    //ただ、elm,optとは一体何なのか、ただの引数についた名前ならいいがメソッドの類なら調べる
  </script>