<h3><%= @review.user.user_name %>の<%= @review.post.shop_name %>のレビュー詳細</h3>

<p>星の数</p>
<%= @review.rate %>

<p>レビュータイトル</p>
<%= @review.review_title %>

<p>レビュー本文</p>
<%= @review.shop_review %>

<% if @review.user_id == current_user.id %>
<%# @user.idがcurrent_user.idだったらリンクを表示、違ったら表示なし %>
 <%= link_to edit_review_path(@review.id) do %>
 <button type="button" class="btn btn-success">編集</button><% end %>
<% else %>
<% end %>