<h3><%= @post.shop_name %>の編集</h3>

<%= form_with model: @post, url: post_path do |f| %>

<p>店の名前</p>
<%= f.text_field :shop_name %>

<p>店の説明</p>
<%= f.text_area :shop_explanation %>

<p>店の画像</p>
<%= f.file_field :post_image %>

<%= f.submit '保存' %>
<% end %>