<h3>新規投稿</h3>

<%= image_tag 'jiro_men', size: '150×150' %>

<%= form_with model: @post, url: posts_path do |f| %>

<p>店の名前</p>
<%= f.text_field :shop_name %>

<p>店の説明</p>
<%= f.text_area :shop_explanation %>

<p>店の画像</p>
<%= f.file_field :post_image %>

<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :tag_id, :value => current_user.id %>

<p>タグ名</p>
<%= f.text_field :tag_name %>

<%= f.submit '新規投稿' %>
#
<% end %>

<h3>タグリスト</h3>
<% @tag_lists.each do |tag| %>
    <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
    <%= "(#{tag.posts.count})"%>
    <%# タグが何件登録されたかの %>
<% end %>


<%#><h3>投稿する</h3>
<%#= form_with(model: @post_create, url: posts_path, local: true) do |f| %>
  <%#= "スペースを入力することで複数のタグを付けることができます。" %>
  <%#= "例：音楽 文芸 スポーツ" %>
  <%#= f.text_field :tag_name, class %>
  <%#= f.submit %>
<%# end %>