<div class="row justify-content-center">
  <h3 class="p-3 mb-2 bg-warning text-dark">ユーザー一覧</h3>
</div>

<div class="row justify-content-center">
  <table class='table-dark table-bordered table-hover' width="90%" height="300">
    <thead>
      <tr>
        <th>ユーザーid</th>
        <th>ユーザー名</th>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>有効・退会</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, admin_user_path(user.id), class:'btn btn-warning' %></td>
        <td><%= user.user_name %></td>
        <td><%= user.last_name %><%= user.first_name %></td>
        <td><%= user.last_name_kana %><%= user.first_name_kana %></td>
        <td><%= user.is_deleted %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-warning">
  <%= paginate @users %>
</button>