<h3><%= @user.last_name %><%= @user.first_name %>の情報</h3>

<% if user.user_image attached? %>
<%# もし user.use_image がつけられていたら？ %>
<%= image_tag user.user_image, size: "50×50" %>
<%# image_tag => 画像を表示するメソッド、 user.user_image => userテーブルのuser_imageメソッドから画像を引っ張る、 size: "50×50" =>画像の大きさを決定 %>
<% else %>
<%# そうでなければ %>
<%= image_tag 'men_image.jpeg', size: "50×50" %>
<%# app/assets/image下にあるmen_image.jpegを表示 %>
<% end %>

<p>メールアドレス</p>
<%= @user.email %>

<p>氏名</p>
<%= @user.last_name %><%= @user.first_name %>

<p>氏名(フリガナ)</p>
<%= @user.last_name_kana %><%= @user.first_name_kana %>

<p>ユーザー名</p>
<%= @user.user_name %>

<p>ランキング</p>
<%#ここは後回し 12/3時点%>

<p>登録確認</p>
<%= @user.is_deleted %>

<%= link_to '編集', edit_admin_user_path(@user.id) %>

<%= link_to 'このユーザーのレビュー', admin_reviews_path %>