<!DOCTYPE html>
<html>
  <head>
    <title>Mens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <headers>
      <div class="ul">
        <% if admin_signed_in? %>
        <%#もしadmin(管理者)がログインしていたら%>
          <li>
            <%= link_to '会員一覧', admin_users_path %>
          </li>
          <li>
            <%= link_to '投稿一覧', admin_posts_path %>
          </li>
          <li>
            <%= link_to 'タグ一覧', admin_tags_path %>
          </li>
          <li>
            <%= link_to 'ランキング', admin_posts_ranking_path %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          </li>
        <% elsif user_signed_in? %>
        <%#もしuser(ユーザー)がログインしていたら%>
          <li>
            <%= link_to 'マイページ', users_mypage_path %>
          </li>
          <li>
            <%= link_to '投稿一覧', posts_path %>
          </li>
          <li>
            <%= link_to '新規投稿', new_post_path %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
        <%#もしそれ以外なら(今回はログインしていなかったら)%>
          <li>
            <%= link_to 'About', about_path %>
          </li>
          <li>
            <%= link_to '投稿一覧', posts_path %>
          </li>
          <li>
            <%= link_to '新規登録', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'ログイン', new_user_session_path %>
          </li>
        <% end %>
      </div>
    </headers>
    <%= yield %>
    <footer>麺s</footer>
  </body>
</html>