<!DOCTYPE html>
<html>
  <head>
    <title>Debumensportal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <headers>
      <div class="ul">
        <li>
          <%= link_to '会員一覧', admin_users_path %>
        </li>
        <li>
          <%= link_to '投稿一覧', admin_posts_path %>
        </li>
        <li>
          <%= link_to 'タグ一覧', admin_tags_path %>
        </li>
        <li>
          <%= link_to 'タグ一覧', admin_tags_path %>
        </li>
      </div>
    </headers>
    <%= yield %>
    <footer>麺s</footer>
  </body>
</html>
